<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MVSR Blood donor info</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="static\styles\style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<div class="banner" >
  <img src='static/header.jpg' alt="MVSR BLOOD DONORINFO">
<style>
.container {
    border-radius: 5px;
    padding: 20px;
}

.b {
font-size:18px;
font-style: Times New Roman;
}
.button{
 background-color: 	#CD5C5C;
    border: none;
    color: white;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

</div>
<div class="topmenu">
  <ul>
    <li style="border-left: medium none;"><a href="/homep">Home</a></li>
    <li><a href="/rlist">Request List</a></li>
    <li><a href="/dlist">Donor list</a></li>
    <li><a href="/account">Account</a></li>
    <li><a href="/about1">About Us</a></li>
    <li><a href="/contact1">Contact</a></li>
    <li style="border-right: medium none;"><a href="/logout">Logout</a></li>
  </ul>
  </div>
  </div>
  <div class="content">
  <!--Designed by--><a target="_blank" href="http://www.htmltemplates.net">
  <img src="static/copyright.gif" class="copyright" alt="html templates"></a>
  <div class="content-in">
  <div class="left-panel">
  <h2>Categories</h2>
  <div class="left-content">
  <ul>
    <li><a href="/vision1">Vision</a></li>
    <li><a href="/facts1"> Blood donation facts</a></li>
    <li><a href="/who1">Who can and who can't</a></li>
    <li><a href="/gallery1">Blood donation gallery</a></li>
    <li><a href="/details1">campus details</a></li>
  </ul>
  </div>
<div class="gap"></div>
<h2>Blood request list</h2>
<div class="left-content">
<ol>
  <marquee direction="alternate">
<h3> <font color="red">
1.Manasa badangpet.</h3>
</font>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<h3> 
	<font color="cyan">
2.Mallesh balapur. 
</h3> 
</font>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<h3> 3.Akash santhoshnagar.
</h3> 
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
</marquee>
</ol>
</div>
</div>
<div class="right-panel">
    <div class="right-panel-in">
    <div class="row">
        <h2 class="title"><span>ABOUT US</span></h2>
        <div class="row2">
        <h3>
        Our mission is to fulfill every blood request in and around people who are needy of blood.
        <br>
        <br>
        Our vision is to be “The hope of every Student in search of a voluntary blood donor”
        <br><br>
        Our motto - “Donate blood to save the most precious human life”
        </h3>
    </div>
    </div>
    </div>
  </div>
</div>
<div class="footer">
<p>&copy; Designed by cse3 batch 7<a target="_blank" href="http://www.htmltemplates.net"></a></p>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
<a href="http://www.facebook.com">
<img src="static/facebook.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.twitter.com">
<img src="static/twitter.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.pinterest.com">
<img src="static/pinterest.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.whatsapp.com">
<img src="static/whatsapp.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.youtube.com">
<img src="static/youtube.jpg" height="45" width="45"> </a> &emsp;
<a href="http://plus.google.com">
<img src="static/googlep.jpg" height="45" width="45"> </a> &emsp;
<br> <br>
</div>
</div>
</div>

</body></html>
