<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MVSR Blood donor info</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="static\styles\style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<div class="banner" >
  <img src='static/header.jpg' alt="MVSR BLOOD DONORINFO">


</div>
<div class="topmenu">
  <ul>
    <li style="border-left: medium none;"><a href="/homep">Home</a></li>
    <li><a href="/rlist">Request List</a></li>
    <li><a href="/dlist">Donor list</a></li>
    <li><a href="/account">Account</a></li>
    <li><a href="/about1">About Us</a></li>
    <li><a href="/contact1">Contact</a></li>
    <li style="border-right: medium none;"><a href="/logout">Logout</a></li>
  </ul>
  </div>
  </div>
  <div class="content">
  <!--Designed by--><a target="_blank" href="http://www.htmltemplates.net">
  <img src="static/copyright.gif" class="copyright" alt="html templates"></a>
  <div class="content-in">
  <div class="left-panel">
  <h2>Categories</h2>
  <div class="left-content">
  <ul>
    <li><a href="/vision1">Vision</a></li>
    <li><a href="/facts1"> Blood donation facts</a></li>
    <li><a href="/who1">Who can and who can't</a></li>
    <li><a href="/gallery1">Blood donation gallery</a></li>
    <li><a href="/details1">campus details</a></li>
  </ul>
  </div>
<div class="gap"></div>
<h2>Blood request list</h2>
<div class="left-content">
<ol>
  <marquee direction="alternate">
<h3> <font color="red">
1.Manasa badangpet.</h3>
</font>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<h3> 
	<font color="cyan">
2.Mallesh balapur. 
</h3> 
</font>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<h3> 3.Akash santhoshnagar.
</h3> 
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
</marquee>
</ol>
</div>
</div>
<div class="right-panel">
    <div class="right-panel-in">
    <div class="row">
    <h2 class="title"><span>VISION</span></h2>
    <div class="row2">
    <p>  
    <h1>MVSR Blood donor vision is:<br><br></h1>
    <h3>To pave way for a safer and better tommorrow.
    <br>
         Safer, by bringing blood donors and those in need to a common platform.
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Better, by providing every person what he/she deserves the most, best education.
       <br><br></h3>  &nbsp;&nbsp; <h4>To be the real hope of every Indian in search of a voluntary blood donor.
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>To set up a well organised infrastructure through out the country to cater to the education of the under resourced by way of maintaining a repository of contributed books and providing as many resources as possible for rural child education.<br><br></h4>
    <h3>Mission :</h3>
    <br><br>
    <h4>To make the best use of contemporary technologies in delivering a promising web portal to bring together all the blood donors in India; thereby fulfilling every blood request in the country.
    <br>
    To provide a common platform for those who have a zeal to support education of the under resourced yet meritorious students.</h4>
    <br>
    <br>
    <h3>Values :</h3>
    <br>
    <h4>Dignity
    <br>
    Excellence
    <br>
    Diversity
    <br>
    Individual and team work
    <br>
    Compassion
    <br>
    Advance
    <br>
    Trust
    <br>
    Integrity
    <br>
    Oblige
    <br>
    Network
    </h4>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
<div class="footer">
<p>&copy; Designed by cse3 batch 7<a target="_blank" href="http://www.htmltemplates.net"></a></p>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
<a href="http://www.facebook.com">
<img src="static/facebook.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.twitter.com">
<img src="static/twitter.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.pinterest.com">
<img src="static/pinterest.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.whatsapp.com">
<img src="static/whatsapp.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.youtube.com">
<img src="static/youtube.jpg" height="45" width="45"> </a> &emsp;
<a href="http://plus.google.com">
<img src="static/googlep.jpg" height="45" width="45"> </a> &emsp;
<br> <br>
</div>
</div>
</div>

</body></html>
