<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MVSR Blood donor info</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="static\styles\style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<div class="banner" >
  <img src='static/header.jpg' alt="MVSR BLOOD DONORINFO">
<style>
.container {
    border-radius: 5px;
    padding: 20px;
}

.b {
font-size:18px;
font-style: Times New Roman;
}
.button{
 background-color: 	#CD5C5C;
    border: none;
    color: white;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

</div>
<div class="topmenu">
    <ul>
        <li style="border-left: medium none;"><a href="/index">Home</a></li>
        <li><a href="/rlist">Request List</a></li>
        <li><a href="/dlist">Donor list</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li style="border-right: medium none;"><a href="/logout">Logout</a></li>
      </ul>
</div>
</div>
<div class="content">
<!--Designed by--><a target="_blank" href="http://www.htmltemplates.net">
<img src="static/copyright.gif" class="copyright" alt="html templates"></a>
<div class="content-in">
<div class="left-panel">
<h2>Categories</h2>
<div class="left-content">
<ul>
  <li><a href="/vision">Vision</a></li>
  <li><a href="/facts"> Blood donation facts</a></li>
  <li><a href="/who">Who can and who can't</a></li>
  <li><a href="/gallery">Blood donation gallery</a></li>
  <li><a href="/details">campus details</a></li>
</ul>
</div>
<div class="gap"></div>
<h2>Blood request list</h2>
<div class="left-content">
<ol>
  <marquee direction="alternate">
<h3> <font color="red">
1.Manasa badangpet.</h3>
</font>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<h3> 
	<font color="cyan">
2.Mallesh balapur. 
</h3> 
</font>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<h3> 3.Akash santhoshnagar.
</h3> 
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
</marquee>
</ol>
</div>
</div>
<div class="right-panel">
    <div class="right-panel-in">
    <div class="row">
        <h2 class="title"><span>CONTACT</span></h2>
        <div class="row2">
            <p>  
                <h1 color="red">CAN:<br></h1>
                <h3>
                <br>
                1.Let others benefit from your good health. Do donate blood if ...<br>
                2.You are between age group of 18-60 years.<br>
                3.Your weight is 45 kgs or more.<br>
                4.Your haemoglobin is 12.5 gm% minimum.<br>
                5.Your last blood donation was 3 months earlier.<br>
                6.You are healthy and have not suffered from malaria, typhoid or other transmissible disease in the recent past.<br>
                7.There are many, many people who meet these parameters of health and fitness!<br><br></h4>
                <h1 color="red">CAN'T :</h1>
                <br>
                <h3>Do not donate blood if you have any of these conditions<br>
                1.Cold / fever in the past 1 week.<br>
                2.Under treatment with antibiotics or any other medication.<br>
                3.Cardiac problems, hypertension, epilepsy, diabetes (on insulin therapy), history of cancer,chronic kidney or liver disease, bleeding tendencies, venereal disease etc. <br>
                4.Major surgery in the last 6 months.<br>
                5.Vaccination in the last 24 hours.</h3>
                </p>
    </div>
    </div>
    </div>
  </div>
</div>
<div class="footer">
<p>&copy; Designed by cse3 batch 7<a target="_blank" href="http://www.htmltemplates.net"></a></p>
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
<a href="http://www.facebook.com">
<img src="static/facebook.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.twitter.com">
<img src="static/twitter.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.pinterest.com">
<img src="static/pinterest.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.whatsapp.com">
<img src="static/whatsapp.jpg" height="45" width="45"> </a> &emsp;
<a href="http://www.youtube.com">
<img src="static/youtube.jpg" height="45" width="45"> </a> &emsp;
<a href="http://plus.google.com">
<img src="static/googlep.jpg" height="45" width="45"> </a> &emsp;
<br> <br>
</div>
</div>
</div>

</body></html>
